* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(24,2,10);
    background: linear-gradient(90deg, rgba(24,2,10,1) 0%, rgba(26,12,57,1) 31%, rgba(18,45,164,0.8464635854341737) 100%);
    padding: 10px 20px;
}

.navbar-left h1 {
    color: white;
    font-size: 24px;
}

.navbar-right {
    display: flex;
    gap: 15px;
}

.nav-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 8px 15px;
    transition: color 0.3s;
}
.nav-btn a{
    text-decoration: none;
    color: aliceblue;
}

.nav-btn:hover {
    color: white;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

.container {
    padding: 30px;
}

h2 {
    color: #7f8c8d;
    font-size: 25px;
}
#dateselection h2{
    padding-top: 3px;
}
#dateselection{
    display: flex;
    gap: 16%;
    align-items: center;
}

#revenue-date{
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px grey;
}
#total-revenue {
    font-size: 110px;
    margin: 18px 0;
    color: #00a;
    font-weight: bold;
    padding-left: 67px;
}

#add-revenue-btn {
    background-color: #00a;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}
#final-add-btn {
    background-color: #00a;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* button:hover {
    background-color: #0080ff;
} */

table {
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}