* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(24,2,10);
    background: linear-gradient(90deg, rgba(24,2,10,1) 0%, rgba(26,12,57,1) 31%, rgba(18,45,164,0.8464635854341737) 100%);
    padding: 10px 20px;
}

.navbar-left h1 {
    color: white;
    font-size: 24px;
}

.navbar-right {
    display: flex;
    gap: 15px;
}

.nav-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 8px 15px;
    transition: color 0.3s;
}
.nav-btn a{
    text-decoration: none;
    color: aliceblue;
}

.nav-btn:hover {
    color: white;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}
#welcomeMessage{
    margin: 35px 40px;
}
.detail{
    margin: 35px 45px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#detail1 p{
    padding: 5px;
}
#detail2 p{
    padding: 5px;
}
#detail2{
    display: flex;
    gap: 20%;
}