body {
    font-family: Arial, sans-serif;
    background-color: #dde5ef;
    margin: 0;
    padding: 0;
}

.navbar {
    background: rgb(24, 2, 10);
    background: linear-gradient(90deg, rgba(24, 2, 10, 1) 0%, rgba(26, 12, 57, 1) 31%, rgba(18, 45, 164, 0.8464635854341737) 100%);
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
}

.container {
    max-width: 420px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #0056b3;
}
.social-login{
    display: flex;
}
.social-login button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 1%;
}

.google-btn {
    background-color: #db4437;
    color: white;
}

.facebook-btn {
    background-color: #3b5998;
    color: white;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}