body {
    font-family: Arial, sans-serif;
    background-color: #f5efef;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    color: #000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fin {
    color: green;
    font-weight: 900;
    font-size: 24px;
}
.track {
    color: black;
    font-weight: 800;
    font-size: 24px;
}
.navbar .signup-btn {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: box-shadow 0.3s ease; /* Smooth shadow transition */
}

.container {
    max-width: 420px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #218838;
    font-weight: 700;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 153, 31);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: green;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: green;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
